.test--answer {
    width: 700px;
    height: 60px;
    background-color: antiquewhite;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.test--answer input {
    margin-right: 5px;
}

.test--answer label {
    width: 100%;
}

.test--button button {
    width: 120px;
    height: 45px;
}

.test--result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.test--buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.test--buttons button:first-child {
    margin-right: 5px;
}

.button {
    width: 130px;
    height: 25px;
}

.test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}