.sign-links-container {
    display: flex;
    font-weight: bold;
}

.sign-links-container:last-child {
    margin-right: var(--header-margin);
}

.sign-links-container--separator {
    padding: 0 5px 0 5px;
}