.sign-from {
    padding-top: var(--form-top-padding);
}

.sign-from--login {
    margin-bottom: 5px;
}

.sign-from--button-container {
    margin-top: var(--form-margin-top);
}

.sign-from--button {
    width: 60px;
}

.sign-from--url {
    display: none;
}